.width_tree_1 {
    text-align: left !important;
    width: 10%;
}
.width_tree_2 {
    text-align: left !important;
    width: 20%;
}
.width_tree_3a {
    text-align: left !important;
    width: 30%;
}
.width_tree_3b {
    text-align: left !important;
    width: 35%;
}
.width_tree_4 {
    text-align: left !important;
    width: 40%;
}
.width_tree_5 {
    text-align: left !important;
    width: 50%;
}
.width_tree_6 {
    text-align: left !important;
    width: 60%;
}
.width_tree_7 {
    text-align: left !important;
    width: 70%;
}
.width_tree_8 {
    text-align: left !important;
    width: 80%;
}
.width_tree_9 {
    text-align: left !important;
    width: 90%;
}
.text_center_tree {
      text-align: center;
}
.width_tree_3b {
    text-align: left !important;
}